@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">ASP.NET projekt "Online račun"</h1>
    <p>OPIS PROJEKTA BLABLABLABLABLABLABLABLA</p>
    <p>OPIS PROJEKTA BLABLABLABLABLABLABLABLA</p>
</div>

<div>
    @*<partial name="_3DModelView2" />*@
    @*@Html.Partial("3DModelView")*@
</div>
