@{
    ViewBag.Title = "Menzy";
}

    <div class="jumbotron">
        <center>
            <img src="~/images/logo.png" />
            
        </center>
    </div>


<div class="row">
    <div class="box01">
        <img src="~/images/vrijeme.png" />
        <br />
        <p>
            Radnim danom:
        </p>
        <p>
            08:00 - 20:00
        </p>
        <p>
            Subota:
        </p>
        <p>
            08:00 - 15:00
        </p>
        <p>
            Nedjelja i praznici:
        </p>
        <p>
            Ne radimo
        </p>

        <p><a class="btn btn-default" href="https://www.facebook.com/studentskamenza.cakovec/">Facebook &raquo;</a></p>
    </div>
    <div class="box02">
        <img src="~/images/meni.png" />
        <br /><br />
        <p>Svaki tjedan imamo novi dnevni meni!</p>
        <br /><br /><br /><br /><br /><br />
        <p><a class="btn btn-default" href="/Foods#search=Meni">Više o tome &raquo;</a></p>
    </div>

    <div class="box03">
        <img src="~/images/lokacija.png" />
        <br /><br />

        <p>Ul. bana Josipa Jelačića 22 </p>
        <p>Čakovec, 40000</p>
        <p>Međimurje</p>
        <p></p>
        <br /><br /><br />
        <p><a class="btn btn-default" href="https://goo.gl/maps/Ez5BmEAiUQ5CpiVLA">Google Maps &raquo;</a></p>
    </div>
</div>

