@using Menzy.Models
@model IEnumerable<Menzy.Models.Food>



@{
	ViewBag.Title = "Hrana";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hrana</h2>


<table id="foods" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Hrana</th>
			<th>Tip hrane</th>
			<th>Cijena u KN</th>
			<th>Dodaj u košaricu</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
@section scripts
	{
	<script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>
	<script src="~/Scripts/toastr.js"></script>
	<link href="~/Content/toastr.css" rel="stylesheet" />
	<script>
		$(document).ready(function () {
			var searchHash = location.hash.substr(1),
				searchString = searchHash.substr(searchHash.indexOf('search='))
					.split('&')[0]
					.split('=')[1];
			var table = $("#foods").DataTable({

				ajax: {
					url: "/api/foods",
					dataSrc: ""
				},
				columns: [
					{
						data: "name"

					},
					{
						data: "tipHrane"
					},
					{
						data: "price"
					},
					{
						data: "id",
						render: function (data) {
							return "<button class='btn-link js-add' data-food-id=" + data + ">Dodaj</button>";
						}
					}
				],

				"oSearch": { "sSearch": searchString }


			});
			$("#foods").on("click",
				".js-add",
				function () {

					var button = $(this);



					bootbox.prompt({
						title: "Koliko želiš dodati? (najviše 3)",
						inputType: 'number',
						callback: function (result) {
							if (result > 0 && result < 4) {

								var id = button.attr("data-food-id");
								var kolicina = parseInt(result);

								var kosarica = [{ food_id: id, kolicina: kolicina }]

								if ($.cookie("kosarica")) {

                                    var staraKosarica = JSON.parse($.cookie("kosarica"));
                                    var stavka = { food_id: id, kolicina: kolicina };
                                    var novaKosarica;

                                    var item = staraKosarica.find(i => i.food_id === id);
                                    if (item) {

                                        item.kolicina += parseInt(result);

                                        if (item.kolicina > 3) {
                                            toastr.warning("U košarici je već maksimalan broj dodanih artikala");
                                            return;
                                        }

                                        novaKosarica = staraKosarica.map(i => {

                                            if (i.food_id === item.food_id) {
                                                return { food_id: item.food_id, kolicina: item.kolicina }
                                            } else {
                                                return i;
                                            }


                                        })


                                    } else {
										novaKosarica = [...staraKosarica, stavka];
                                    }

									$.cookie('kosarica', JSON.stringify(novaKosarica));

								} else {
									$.cookie('kosarica', JSON.stringify(kosarica));
								}

								toastr.success('Uspješno dodano u košaricu')
								

							}
							if (result <1) {
								
								toastr.warning("Možeš najmanje dodati 1 stavku")
							}
							 if (result >3) {
								
								toastr.warning("Možeš najviše dodati 3 stavke")
							}




						}
					}
						//i ve tu jos dodati
					);
				});
		});
	</script>
}
